<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>visitor-s-book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://127.0.0.1:3306/visitor-s-book?serverTimezone=UTC&amp;characterEncoding=UTF-8</param-value>
  </context-param>
  <context-param>
  	<param-name>driver</param-name>
  	<param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>username</param-name>
  	<param-value>admin</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>admin</param-value>
  </context-param>
</web-app>